* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --clock-size: calc(var(--window-height) - 100px);
  --inner-clock-size: calc(var(--clock-size) - 20px);
  --cover-cicrle-size: calc(var(--inner-clock-size) - 70px);
}

@mixin posAbsCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: #240229;
  width: 100%;
  height: var(--window-height);
  overflow: hidden;

  @include flexCenter();

  .outer-ring {
    background: #be0101;
    width: var(--clock-size);
    height: var(--clock-size);
    border-radius: 50%;
    position: relative;

    span {
      position: absolute;
      border-radius: 50%;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      animation: rotate 3s linear forwards infinite;
      background: linear-gradient(#33ff38, #ff0000, #0021ff);
    }

    span:nth-child(1) {
      filter: blur(5px);
    }
    span:nth-child(2) {
      filter: blur(10px);
    }
    span:nth-child(3) {
      filter: blur(15px);
    }
    span:nth-child(4) {
      filter: blur(60px);
    }

    @include flexCenter();
    .inner-ring {
      background-color: black;
      border-radius: 50%;
      width: var(--inner-clock-size);
      height: var(--inner-clock-size);
      position: relative;
      display: flex;
      @include flexCenter();
      .hLines {
        width: 100%;
        height: 100%;
        position: relative;
        .hLine {
          position: absolute;
          top: 50%;
          left: 50%;
          transform-origin: left;
          background: #ffffff;
          width: calc(calc(var(--inner-clock-size) / 2) - 10px);
          height: 5px;
          z-index: 1;
        }

        .hLineCover {
          position: absolute;
          transform-origin: center;
          background-color: black;
          @include posAbsCenter();
          width: calc(var(--inner-clock-size) - 70px);
          height: calc(var(--inner-clock-size) - 70px);
          z-index: 2;

          .hourIndc {
            border-radius: 25%;
            position: absolute;
            width: 1vh;
            height: calc(var(--cover-cicrle-size) / 7);
            background: red;
            transform-origin: bottom;
            top: 50%;
            left: 50%;
          }

          .secIndc {
            position: absolute;
            width: 2px;
            height: calc(var(--cover-cicrle-size) / 2.9);
            background: red;
            transform-origin: bottom;
            top: 50%;
            left: 50%;
          }

          .minuteIndc {
            border-radius: 50%;
            position: absolute;
            width: 5px;
            height: calc(var(--cover-cicrle-size) / 4);
            background: red;
            transform-origin: bottom;
            top: 50%;
            left: 50%;
          }
          .dot {
            position: absolute;
            width: 1vh;
            height: 1vh;
            background-color: red;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

.num-indicator {
  font-size: 16px;
  color: #ffffff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (orientation: portrait) {
  .num-indicator {
    font-size: 5vw;
  }

  body {
    .outer-ring {
      .inner-ring {
        .hLines {
          .hLine {
            height: .5%;
          }
          .hLineCover {
            height: 85%;
            width: 85%;

            .secIndc {
                width: .3%;
                height: 35%;
              }
              .hourIndc {
                width: 1%;
                height: 13%;
              }
  
              .minuteIndc {
                width: 1%;
                height: 22%;
              }
  
              .dot {
                width: 2%;
                height: 2%;
              }
          }
        }
      }
    }
  }
}

@media (orientation: landscape) {
  .num-indicator {
    font-size: 4vh;
  }
  body {
    .outer-ring {
      .inner-ring {
        .hLines {
          .hLine {
            height: 1%;
          }
          .hLineCover {
            height: 80%;
            width: 80%;

            .secIndc {
              width: .3%;
              height: 35%;
            }
            .hourIndc {
              width: 1%;
              height: 13%;
            }

            .minuteIndc {
              width: 1%;
              height: 22%;
            }

            .dot {
              width: 2%;
              height: 2%;
            }
          }
        }
      }
    }
  }
}
